<html>
<head>
    <title>Predict depression</title>
</head>
<body>
    <h1>Predict depression</h1>

    <form method="POST" action="/">
        <input name="text" type="text" />
        <input type="submit" />
    </form>

    {% if verdict == "depressive" %}
        <h1 style="color:red;">{{ verdict }}</h1>
    {% else %}
        <h1 style="color:lawngreen;">{{ verdict }}</h1>
    {% endif %}
</body>
</html>